<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="display: flex; justify-content: space-between; padding: 25px 100px; background-color: crimson;">
        <a href="/" style="color: white; text-decoration: none;">Home</a>
        <a href="/about" style="color: white; text-decoration: none;">About</a>
        <a href="/products" style="color: white; text-decoration: none;">Products</a>
        <a href="/subscribe" style="color: white; text-decoration: none;">Subscribe</a>
        <a href="/error" style="color: white; text-decoration: none;">Error</a>
        <a href="/contact" style="color: white; text-decoration: none;">Contact</a>
    </nav>
    <h1 style="color: crimson; display: flex; justify-content: center;">Contact</h1>
</body>
</html>